@model Boolean

    <div class="form-group">
        @Html.LabelFor(m => m)
        <div class="">
            @Html.CheckBoxFor(m => m, new { @class = "form-control", @style = "width:28px;" })
    </div>
</div>


