@model DynamicMVC.UI.DynamicMVC.ViewModels.DynamicFilterViewModels.DynamicFilterContainsTextBoxViewModel

<div class="form-group">
    @Html.Label(Model.QueryStringName, Model.LabelText)
    <div class="form-group">
        @Html.TextBox(Model.QueryStringName, Model.FilterValue, new { @class = "form-control", @style = "width : 175px;" })
        @Html.ValidationMessage(Model.QueryStringName)
    </div>
</div>
